* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

body {
    background-color: #262729;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}

.topContainer {
    display: flex;
    justify-content: center;
}

.unitContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.digits {
    font-size: 8rem;
}

.hmsLabel {
    font-size: 3rem;
}

/* Stopwatch buttons */

.bottomContainer {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icon {
    width: 50px;
    height: 50px;
}

.iconReset {
    fill: #feffff;
}

.btnStopWatch {
    padding: 20px;
    border-radius: 50%;
    border: solid #3b3c40 4px;
    background-color: #333438;
    cursor: pointer;
    transition: filter 300ms, transform 300ms;
}

.btnPlay {
    background-color: #4cc2ff;
    border: none;
}

.btnStopWatch:hover {
    filter: brightness(0.8);
}

.btnStopWatch:active {
  transform: translateY(1px);
}