* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

body {
    background-color: #262729;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center
}

.topContainer {
    display: flex;
    justify-content: center;
}

.unitContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.digits {
    font-size: 5rem;
    line-height: .75;
    user-select: none;
}

.hmsLabel {
    font-size: 2rem;
    user-select: none;
}

/* Stopwatch buttons */

.bottomContainer {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icon {
    width: 70%;
    height: 70%; /* Make the icon scale to 70% of the button's size */
}

.iconReset {
    fill: #feffff;
}

.btnStopWatch {
    width: 60px;
    height: 60px; /* Perfectly square button */
    border-radius: 50%; /* Perfect circle button*/
    border: solid #3b3c40 4px;
    background-color: #333438;
    cursor: pointer;
    transition: filter 300ms, transform 300ms;
    user-select: none;
    -webkit-tap-highlight-color: transparent; /* Removes the blue highlight that appears when tapping buttons on mobile browsers (especially on Chrome and Safari) */
}

.btnPlay {
    background-color: #4cc2ff;
    border: none;
}

.btnStopWatch:hover {
    filter: brightness(0.8);
}

.btnStopWatch:active {
  transform: translateY(1px);
}

@media (min-width: 480px) {
 
    .digits {
    font-size: 8rem; 
    }

    .hmsLabel {
    font-size: 3rem;
    }

    .btnStopWatch {
    width: 80px;  
    height: 80px;
    }

}



