* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

body {
    background-color: #262729;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}

.topContainer {
    display: flex;
    justify-content: center;
    background-color: rgb(207, 173, 51);
}



.unitContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.digits {
    font-size: 8rem;
}

.hmsLabel {
    font-size: 3rem;
}

/* Stopwatch buttons */

.bottomContainer {
    padding-top: 20px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icon {
    /* fill: #000000; */
    width: 80px;
    height: 80px;
}

.btnStopWatch {
    border-radius: 50%;
    border: none;
    background-color: rgb(147, 200, 200);
    cursor: pointer;
    transition: filter 300ms, transform 300ms;
}

.btnStopWatch:hover {
    filter: brightness(0.8);
}

.btnStopWatch:active {
  transform: translateY(1px);
}